.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.no-img-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


.toggle {
  width: 40px;
  height: 20px;
  background-color: #bebebe;
  border: 2px solid #bebebe;
  border-radius: 30px;
  position: relative;
  transition: all 0.2s;
  &.on{
    background-color: #75c78b;
    border: 2px solid #75c78b;
  }
}


.toggle > .point {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  transition: all 0.2s;
}
.toggle.on > .point {
  transform : translateX(20px);
}
.toggle.off > .point {
  transform : translateX(0px);
}