.feed .item{
    box-shadow: 2px 2px 5px #00000036;
    border-radius: 15px;
    width: 100%;
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feed > .center > .item > .title-bar{ 
    border-bottom: 1px solid #C9C9C9;
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}
.feed > .center > .item > .title-bar > .user{ 
    width: 40px;
    height: 40px;
    background-color: #c5c5c5;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;

}
.feed > .center > .item > .title-bar .title{ 
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 550px;
    cursor:pointer;
}
.feed > .center > .item > .title-bar .user-id{ 
    color: #999999;
    font-size: 12px;
}

.feed > .center > .item > .content {
    height: 400px;
    background-color: rgb(97, 184, 156);
}

.feed > .center > .item > .bottom { 
    border-top: 1px solid #C9C9C9;
    padding: 0 10px;
}

.feed > .center > .item > .bottom > .icon-group {
    margin-top: 5px;
    padding-bottom: 2px;
}

.feed > .center > .item > .bottom > .icon-group > button {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0px;
    background-color: #FFFFFF00;
    margin-right: 5px;
    cursor: pointer;
}

.feed > .center > .item > .bottom > .icon-group > .like { 
    background-image: url("../assets/icon-like-small.svg");
    &:hover {
        filter: invert(31%) sepia(31%) saturate(6029%) hue-rotate(346deg) brightness(92%) contrast(90%);
    }
}

.feed > .center > .item > .bottom > .icon-group > .comment { 
    background-image: url("../assets/icon-comment-small.svg");
    &:hover {
        filter: invert(29%) sepia(3%) saturate(3151%) hue-rotate(314deg) brightness(114%) contrast(86%);
    }
}

.feed > .center > .item > .bottom > .comment-area {
    padding: 5px 0;
    border-top: 1px solid #6464644d;
}

.feed > .center > .item > .bottom > .comment-area > .content{
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 0;
    position: relative;

    &:last-of-type {
        margin-bottom: 5px;
    }
}

.feed > .center > .item > .bottom > .comment-area > .content > .detail {
    height: 17px;
    top: -15px;
    position: relative;
}
.feed > .center > .item > .bottom > .comment-area > .content > .detail > span {
    color: #C9C9C9;
    font-size: 10px;
}
.feed > .center > .item > .bottom > .comment-area > .content > .detail > p {
    margin: 1px 0;
    font-size: 12px;
}
.feed > .center > .item > .bottom > .comment-area > .more {
    border-top: 1px solid #6464644d;
    text-align: center;
    padding-top: 10px;
    color: #6464649c;
    transition: all 0.3;
    &:hover {
        color: #646464f6;
        cursor: pointer;
    }
}



.feed > .center > .item > .bottom > .comment-area > .content > .profile{
    width: 30px;
    height: 30px;
    background-color: #C9C9C9;
    border-radius: 50%;
    cursor: pointer;
}

.feed > .center > .btn-create-post { 
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0px;
    background-color: #FFFFFF00;
    margin-right: 5px;
    cursor: pointer;
    background-image: url("../assets/icon-create.svg");
    border-radius: 100%;
    &:hover {
        filter: brightness(80%);
    }
}

.feed > .center > .ReactModal__Content--after-open { 
    width: 500px;
    height: 500px;
    position: fixed;

}
.feed > .left {
    width: 260px;
}

.feed > .left > .side {
    position: fixed;
    box-shadow: 2px 2px 5px #00000036;
    border-radius: 15px;
    width: 260px;
    height: 220px;
    margin: 10px 0;
    overflow-x: visible;
}

.feed > .left > .side > .un-login {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #AAAAAA33;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed > .center > .item > .content > button {
    transition: 0.3s all;
    width: 70px;
    height: 70px;
    border-top: 4px solid rgb(170, 170, 170);
    border-right: 4px solid rgb(170, 170, 170);
    border-left: 0px solid black;
    border-bottom: 0px solid black;
    background-color: #FFFFFF00;
    border-radius: 2px;
    padding: 10px 20px;
    position : absolute;
    

    &.left-arrow {transform: rotate(225deg);}
    &.right-arrow {transform: rotate(45deg);}
    &:hover{border-color: rgb(100,100,100);}
    &:active{border-color: rgb(66, 66, 66);}
}

/**
 * POST DETAIL
 */

 .post .item{
    box-shadow: 2px 2px 5px #00000036;
    border-radius: 15px;
    width: 100%;
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post > .center > .item > .title-bar{ 
    border-bottom: 1px solid #C9C9C9;
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}
.post > .center > .item > .title-bar > .user{ 
    width: 40px;
    height: 40px;
    background-color: #c5c5c5;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;

}
.post > .center > .item > .title-bar .title{ 
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 550px;
    cursor:pointer;
}
.post > .center > .item > .title-bar .user-id{ 
    color: #999999;
    font-size: 12px;
}

.post > .center > .item > .map {
    height: 100px;
    width: 100%;
}

.post > .center > .item > .content {
    height: 400px;
    background-color: rgb(97, 184, 156);
}

.post > .center > .item > .bottom { 
    border-top: 1px solid #C9C9C9;
    padding: 0 10px;
}

.post > .center > .item > .bottom > .icon-group {
    margin-top: 5px;
    padding-bottom: 2px;
}

.post > .center > .item > .bottom > .icon-group > button {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0px;
    background-color: #FFFFFF00;
    margin-right: 5px;
    cursor: pointer;
}

.post > .center > .item > .bottom > .icon-group > .like { 
    background-image: url("../assets/icon-like-small.svg");
    &:hover {
        filter: invert(31%) sepia(31%) saturate(6029%) hue-rotate(346deg) brightness(92%) contrast(90%);
    }
}

.post > .center > .item > .bottom > .icon-group > .comment { 
    background-image: url("../assets/icon-comment-small.svg");
    &:hover {
        filter: invert(29%) sepia(3%) saturate(3151%) hue-rotate(314deg) brightness(114%) contrast(86%);
    }
}

.post > .center > .item > .bottom > .comment-area {
    padding: 5px 0;
    border-top: 1px solid #6464644d;
}

.post > .center > .item > .bottom > .comment-area > .content{
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 0;
    position: relative;

    &:last-of-type {
        margin-bottom: 5px;
    }
}

.post > .center > .item > .bottom > .comment-area > .content > .detail {
    height: 17px;
    top: -15px;
    position: relative;
}
.post > .center > .item > .bottom > .comment-area > .content > .detail > span {
    color: #C9C9C9;
    font-size: 10px;
}
.post > .center > .item > .bottom > .comment-area > .content > .detail > p {
    margin: 1px 0;
    font-size: 12px;
}
.post > .center > .item > .bottom > .comment-area > .more {
    border-top: 1px solid #6464644d;
    text-align: center;
    padding-top: 10px;
    color: #6464649c;
    transition: all 0.3;
    &:hover {
        color: #646464f6;
        cursor: pointer;
    }
}



.post > .center > .item > .bottom > .comment-area > .content > .profile{
    width: 30px;
    height: 30px;
    background-color: #C9C9C9;
    border-radius: 50%;
    cursor: pointer;
}

.post > .center > .btn-create-post { 
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0px;
    background-color: #FFFFFF00;
    margin-right: 5px;
    cursor: pointer;
    background-image: url("../assets/icon-create.svg");
    border-radius: 100%;
    &:hover {
        filter: brightness(80%);
    }
}

.post > .center > .ReactModal__Content--after-open { 
    width: 500px;
    height: 500px;
    position: fixed;

}
.post > .left {
    width: 260px;
}

.post > .left > .side {
    position: fixed;
    box-shadow: 2px 2px 5px #00000036;
    border-radius: 15px;
    width: 260px;
    height: 220px;
    margin: 10px 0;
    overflow-x: visible;
}

.post > .left > .side > .un-login {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #AAAAAA33;
    display: flex;
    align-items: center;
    justify-content: center;
}