/* 레이아웃 */

html, body{
    margin :0;
    padding :0;
    width: 100%;
    height: 100%;
}

/* 헤더 */
header {
    width : 100;
    height :80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* 풋터 */
footer {
    background : #333;
    color : #fff;
}

.logo {
    height: 60px;
    width: 200px;
    background : url(../img/logo.svg)no-repeat center;
    display: block;
}

.menu {
    height: 24px;
    width: 24px;
    background : url(../img/menu.svg)no-repeat center;
    display: block;
}