/* 레이아웃 */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  height: 30%;
  background: #8a8a8a;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: rgba(145, 145, 145, 0.1);
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #00000001;
  min-height: calc(100% - 100px);
}

/* 헤더 */
header {
  width: calc(100% - 40px);
  height: 60px;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 20px;
  position: sticky;
  background-color: #fff;
  z-index: 998;
}



header > .center {
  width: 650px;
  display: flex;
  justify-content: center;

  &:after {
    content: '';
    width: 650px;
    height: 2px;
    top: 10px;
    background-image: linear-gradient(#fff0, #fff0),
      linear-gradient(
        to right,
        #23155700 0%,
        #000000 10%,
        #000000 90%,
        #fff80000 100%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 50px 10px 10px;
    position: absolute;
  }
}

header.cover {
  width: 96%;
  height: 60px;
  top: 0px;
  background-color: #b9d4c7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2% 0 2%;
}
  
/* 풋터 */
footer {
  width: 100%;
  height: 40px;
  bottom: 0px;
  position: absolute;
  color: #636363;
  background-color: #fff;

  width: calc(100% - 40px);
  height: 60px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 20px;
}

footer .center {
  width: 650px;
  display: flex;
  justify-content: center;

  &:after {
    content: '';
    width: 650px;
    height: 1px;
    bottom: 49px;
    background-image: linear-gradient(#fff0, #fff0),
      linear-gradient(
        to right,
        #23155700 0%,
        #000000 10%,
        #000000 90%,
        #fff80000 100%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 50px 10px 10px;
    position: absolute;
  }
}

.main-frame {
    width: 100%;
    min-height: calc(100vh - 40px) ;
    flex-shrink: 0;
    display: grid;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    grid-template-columns: 280px 650px 280px;
    margin-top: 40px;
    padding-bottom: 100px;
}

.main-frame > .center {    
width: 100%;
}


footer > p {
  margin: 0;
}

.footer-Main {
  font-size: calc(1px + 2vmin);
  padding: 10%;
}
.footer-Mobile {
  font-size: calc(1px + 2vmin);
  width: 100%;
  margin-top: 150px;
}

.logo {
  height: 50px;
  width: 75px;
  background-image: url('../assets/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.cover-logo {
  height: 45px;
  width: 80px;
  background-image: url('../assets/logo-cover-simple.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menu > li {
  display: inline-block;
  margin-left: 10px;
}
.menu > li:first-child {
  margin-left: 0px;
}

.side-menu {
  width: 30px;
  &.right {
    height: 30px;
    position: relative;
  }
}
.side-menu.right > .btn-menu {
  width: 30px;
  height: 30px;
  background: #00000001;
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 99;
}

.side-menu.right > .btn-menu > span {
  position: absolute;
  display: block;
  background-color: #c9c9c9;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  transition: all 0.6s;
  &:nth-of-type(1) {
    top: 3px;
  }
  &:nth-of-type(2) {
    top: 12px;
  }
  &:nth-of-type(3) {
    top: 21px;
  }
}
.side-menu > .btn-menu.active > span:nth-of-type(1) {
  -webkit-transform: translateY (8px) rotate (-45deg);
  transform: translateY(9px) rotate(-45deg);
}
.side-menu > .btn-menu.active > span:nth-of-type(2) {
  opacity: 0;
}
.side-menu > .btn-menu.active > span:nth-of-type(3) {
  -webkit-transform: translateY(-8px) rotate(45deg);
  transform: translateY(-9px) rotate(45deg);
}
.side-menu > .btn-menu.active + nav > ul {
  opacity: 100;
  visibility: visible;
}
.side-menu > nav > ul {
  position: relative;
  border-radius: 0 0 0 15px;
  background-color: rgb(255 255 255);
  top: -31px;
  padding-top: 40px;
  padding-left: 0px;
  width: 170px;
  right: 120px;
  height: 200px;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 2px 2px 5px #00000036;
  visibility: hidden;
}
.side-menu > nav > ul > li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #efefef;
  font-size: 14px;
  &:first-of-type {
    margin-top: 20px;
  }
  &:last-of-type {
    border-bottom: 0px;
  }
}

.side-menu > nav > ul > li > a {
  width: calc(100% - 20px);
  height: 100%;
  display: block;
  margin: 0;
  padding: 10px 0px 10px 20px;

  &:hover {
    display: block;
    background-color: rgba(211, 211, 211, 0.329);
  }
  &:active {
    display: block;
    background-color: rgba(167, 167, 167, 0.329);
  }
}

a {
  color: #414141;
  text-decoration: none;
  &:link {
    color: #414141;
    text-decoration: none;
  }
  &:visited {
    color: #414141;
    text-decoration: none;
  }
}

td {
  padding: 0px 5px;
}

input {
  width: calc(100% - 10px);
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  padding-left: 5px;
  height: 20px;
  font-size: 12px;

  &:focus {
    outline: none !important;
  }
  
  &[type=radio] {
    width: 0px;
  }
}


.close {
  height: 30px;
  width: 30px;
  background-image: url('../assets/icon-close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}


.btn-group > .left {
  float: left;
}

.btn-group > .right {
  float: right;
}
.btn-group > .row {
  display: block;
  margin-bottom: 10px;  
}

.btn-group > .row.medium{
  display: inline-block;
  width: 305px;
}


button, Link {font-size: 14px;}
.btn-group button,
.btn-group a {
  font-size: 14px;
  display: inline-block;
  padding: 5px;
  width: 50px;
  border: 1px #00a5ba;
  color: #fff;
  border-radius: 10px;
  transition: all 0.2s;
  margin-left: 10px;
  text-align: center;

  &.wd50 { width: 50px;}
  &.wd70 { width: 70px;}
  &.wd90 { width: 90px;}
  &.wd110 { width: 110px;}
  &.wd130 { width: 130px;}
  &.wd150 { width: 150px;}
  &.auto { width: 100%;}
  &:hover {filter: brightness(1.15);}
  &:active {filter: brightness(0.8);}

  &:first-of-type {margin-left: 0px;}
}
.btn-group .btn-primary{
  background-color: #00a5ba;
}

.btn-group .btn-cancel{
  background-color: #9e9e9e;
}





p {
  margin: 0;
  font-size: 12px;
}

label.icon {
  display: inline-block;height: 35px;width: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &[for=sun] {background-image: url('../assets/icon-weather-sun.png');}
  &[for=snow] {background-image: url('../assets/icon-weather-snow.png');}
  &[for=thunder] {background-image: url('../assets/icon-weather-thunder.png');}
  &[for=rain] {background-image: url('../assets/icon-weather-rain.png');}
  &[for=cloud] {background-image: url('../assets/icon-weather-cloud.png');}
  &[for=spring] {background-image: url('../assets/icon-seasons-spring.svg');}
  &[for=summer] {background-image: url('../assets/icon-seasons-summer.svg');}
  &[for=fall] {background-image: url('../assets/icon-seasons-fall.svg');}
  &[for=winter] {background-image: url('../assets/icon-seasons-winter.svg');}
}


input:checked + label.icon {
  filter: drop-shadow(0px 0px 3px #84978e);
}


ul.vertical > li {
  margin-left: 10px;
  display: inline-block;
}
ul.vertical > li:first-child {
  margin-left: 0px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex > .item {
  margin-right: 15px;
}
.flex > .item:last-of-type {
  margin-right: 0px;
}

.linked-text {
  font-size: 16px;
  font-weight: bold;
}

/*글자 색 지정CSS*/
.white  {color: #ffffff;}
.red    {color: #ff0000;}
.green  {color: #00ff00;}


.ReactModalPortal {
  z-index: 999;
  position: absolute;
}
.ReactModalPortal > .ReactModal__Overlay {
  background-color: #00000033 !important;
}

.ReactModalPortal > .ReactModal__Overlay > .ReactModal__Content {
  background-color: white !important;
  width: 600px;
  height: 520px;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 260px);
  border-radius: 20px;
}

.message-main {
  width: 100%;
  height: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}




/*width 공통*/
.w10 {width: 10px;}
.w20 {width: 20px;}
.w30 {width: 30px;}
.w50 {width: 50px;}
.w100 {width: 100px;}
.w10p {width: 10%;}
.w50p {width: 50%;}
.w100p {width: 100%;}

/*margin*/
.m10  {margin : 10px}
.m20  {margin : 20px}
.mr5  {margin-right:5px}
.mr10 {margin-right:10px}
.mr15 {margin-right:15px}
.mr20 {margin-right:20px}
.mt5  {margin-top:5px}
.mt10 {margin-top:10px}
.mt15 {margin-top:15px}
.mt20 {margin-top:20px}
.ml5  {margin-left:5px}
.ml10 {margin-left:10px}
.ml15 {margin-left:15px}
.ml20 {margin-left:20px}
.mb5  {margin-bottom:5px}
.mb10 {margin-bottom:10px}
.mb15 {margin-bottom:15px}
.mb20 {margin-bottom:20px}