p.pin::before {
    width: 15px;
    height: 15px;
    content: "";
    background-image: url("../assets/icon-pin.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
}

.my-page > .center > .item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.my-page > .center .item > .map {
    margin-top: 5px;
    width: 100%;
    height: 400px;
    background-color: rgb(182, 182, 182);
    border-radius: 15px;
    align-items: center;

    text-align-last:center;
}

.my-page > .center > .item > .time-line {
    margin-top: 10px;
}

.my-page > .center > .item > .time-line > .area {
    width: calc(100% - 20px);
    height: 120px;
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
    text-align-last: center;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 10px;

    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        height: 30%;
        background: #8a8a8a;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(145, 145, 145, 0);
    }
}
.my-page > .center  > .item > .time-line > .area > .item {
    display: inline-block;
    width: 100px;
    height: 80px;
    background-color: #5f5f5f;
    margin-left: 5px;
    &:first-of-type {
        margin-left : 0px;
    }
}

.my-page > .center  > .item > .time-line > .bar {
    width: calc(100% - 40px);
    height: 2px;
    background-image: linear-gradient(#fff0, #fff0), linear-gradient(to right, #23155700 0%, #000000 3%, #000000 97%, #fff80000 100%);
    position: relative;
    margin: 20px;
    z-index: -1;
    &::after {
        content: "▶";
        position: absolute;
        width: 10px;
        height: 10px;
        top: -11px;
        right: 2px;
    }
}
.my-page > .center  > .item > .time-line > .bar > .point {
    position:absolute;
    width: 10px;
    height: 10px;
    top:-5px;
    left: 10px;
    background-color: rgb(182, 60, 60);
    border-radius: 100%;
    border: 2px solid rgb(124, 124, 124);
    &:hover {
        background-color: rgb(231, 66, 66);
        border: 2px solid rgb(20, 20, 20);
    }

}


.tab-container > .tab-header {
    display: flex;

}
.tab-container > .tab-header > .tab:active {
    width: 120px;
}

.tab-container > .tab-header > .tab.on {
    border: 1px solid beige;
}

.tab-container > .item {
    display: none;
}
.tab-container > .item.on {
    display: block;
}

.tab-container > .item > .container {
    display: grid;
    grid-template-columns : 1fr 1fr;
}

.tab-container > .item > .container > .section {
    display: grid;
    width: calc(100% - 35px);
    height: 200px;
    border: 2px solid #7a7a7a;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr 1fr;
    position: relative;
}

.tab-container > .item > .container > .section > .book-mark {
    content: "";
    position: absolute;
    right: 20px;
    background-image: url("../assets/book-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 24px;

    &.red    {filter: drop-shadow(2px 0px 2px #84978e) hue-rotate(360deg)} 
    &.green  {filter: drop-shadow(2px 0px 2px #84978e) hue-rotate(90deg)} 
    &.blue   {filter: drop-shadow(2px 0px 2px #84978e) hue-rotate(212deg)} 
    &.purple {filter: drop-shadow(2px 0px 2px #84978e) hue-rotate(270deg)} 
}


.tab-container > .item > .container > .section > .title {
    grid-column: 1 / span 2;

}
.tab-container > .item > .container > .section > .item {
    display: flex;
    background-color: #5f5f5f;
    margin: 3px;
    position: relative;
    cursor: pointer;
    
    &:hover {

    }
}
.tab-container > .item > .container > .section > .item:hover > p {
    opacity: 100%;
}
.tab-container > .item > .container > .section > .item > p {
    opacity: 0%;
    transition: all 0.3s;
    background-color: #00000042;
    color: #FFFFFF;
    height: 20px;
    width: 70px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-35px) translateY(-25px);
}




