



.post-drag-drop {
    text-align: center;
    display   : block;
}

.post-drag-drop > h4 {
    width          : calc(100% - 0px);
    text-align     : center;
    align-items    : center;
    justify-content: center;
    overflow       : hidden;
    text-overflow  : ellipsis;
    white-space    : nowrap;
    padding-bottom : 10px;
    border-bottom  : 1px rgb(185, 185, 185) solid;
}
.post-drag-drop > .img-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 70px;
}

.post-drag-drop > .img-wrap > #preview{
    width : 200px;
    height: 210px;
}

.post-drag-drop > .img-wrap > button {
    transition: 0.3s all;
    width: 50px;
    height: 50px;
    border-top: 4px solid rgb(170, 170, 170);
    border-right: 4px solid rgb(170, 170, 170);
    border-left: 0px solid black;
    border-bottom: 0px solid black;
    background-color: #FFFFFF00;
    border-radius: 2px;
    &.left-arrow {transform: rotate(225deg);}
    &.right-arrow {transform: rotate(45deg);}
    &:hover{border-color: rgb(100,100,100);}
    &:active{border-color: rgb(66, 66, 66);}
}
.file {
    display: none;
}
  
.file::file-selector-button {
    font-size    : 14px;
    background   : #ffffff;
    border       : 1px solid #111;
    border-radius: 12px;
    padding      : 4px 32px;
    cursor       : pointer;
}

.preview-msg {
    color        : #000;
    font-family  : Inder;
    font-size    : 1.5rem;
    font-style   : normal;
    font-weight  : 200;
    line-height  : normal;
}


.img-contain{
    margin-top : 10px;
    margin-bottom: 50px;
}

.post > .center {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.post > .center > .img-contain > .map {
    margin: 10px 0;
    width: 100%;
    height: 400px;
    background-color: rgb(182, 182, 182);
    border-radius: 15px;
    align-items: center;

    text-align-last:center;
}

.post > .center > .time-line {
    margin-top: 10px;
}

.post > .center > .time-line > .btn-grp{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.post > .center > .time-line > .btn-grp > button {
    border-radius: 5px;
    border: 2px solid #c9c9c9;
    margin-left: 5px;
    &:hover {
        border: 2px solid #838383;
    }
    &:active {
        background-color: #c2c2c2;
    }
    &:first-of-type {
        margin-left: 0;
    }
}


.post > .center  > .time-line > .bar {
    width: calc(100% - 40px);
    height: 2px;
    background-image: linear-gradient(#fff0, #fff0), linear-gradient(to right, #23155700 0%, #000000 3%, #000000 97%, #fff80000 100%);
    position: relative;
    margin: 20px;
    z-index: -1;
    &::after {
        content: "▶";
        position: absolute;
        width: 10px;
        height: 10px;
        top: -11px;
        right: 2px;
    }
}
.post > .center  > .time-line > .bar > .point {
    position:absolute;
    width: 10px;
    height: 10px;
    top:-5px;
    left: 10px;
    background-color: rgb(182, 60, 60);
    border-radius: 100%;
    border: 2px solid rgb(124, 124, 124);
    &:hover {
        background-color: rgb(231, 66, 66);
        border: 2px solid rgb(20, 20, 20);
    }

}

.post > .center > .time-line > .area {
    width: calc(100% - 20px);
    height: 120px;
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
    text-align-last: center;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 10px;

    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        height: 30%;
        background: #8a8a8a;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(145, 145, 145, 0);
    }
}
.post > .center  > .time-line > .area > .item {
    display: inline-block;
    width: 100px;
    height: 80px;
    background-color: #5f5f5f;
    margin-left: 5px;
    &:first-of-type {
        margin-left : 0px;
    }
}




.post > .center > .img-contain > .img-info {
    width : 345px;
    height: 215px;
    display: inline-block;
    padding: 16px;
    border: 1px solid #eee;
    margin-left: 20px;
}

.post > .center > .img-contain > .img-wrap {
    display : inline-block;
}

.post > .center > .img-contain > .img-wrap > .img-box {
    align-items: center;
    width : 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    cursor: pointer;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 10px !important;
    font-size: 12px !important;
    width:199px;
    height: 24px;
}

.css-19qh8xo-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 1px 2px 1px 5px !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
    padding: 2px !important;
}

.css-i4bv87-MuiSvgIcon-root {
    width: 20px !important;
    height: 20px !important;
}