.register-popup {
  width: 360px !important;
  height: 480px !important;
  border-radius: 20px;
  position: absolute;
  left: calc(50% - 180px) !important;
  top: calc(50% - 240px) !important;
  border-radius: 20px;
}

.login-main {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 70px;
}

.signup-main {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 50px;
}

.login-logo {
  height: 120px;
  width: 500px;
  margin-bottom: 63px;
  background-image: url('../assets/logo-large.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.textBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.input {
  border-width: 0px;
  margin: 10px;
  width: 100%;
}

.button {
  border-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  font-family: 'Inder';
  color: #fff;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  opacity: 0.55;
}

.submit-button {
  background-color: #e45a5a;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.link-button {
  background-color: #888;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.signup-button {
  background-color: #e45a5a;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.register-button {
  background-color: #888;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.auth-button {
  width: 20%;
  height: 30px;
}

.setting .user-info {
  width: 630px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
}


.setting .user-info > .icon {
  width: 40px;
  height: 40px;
  background-color: #c5c5c5;
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
}
.setting .user-info > .identifier {
  width: calc(100% - 200px);
}
.setting .drop-down {
  width: calc(100%);
  border-radius: 15px;
  padding: 0px;
}


ul.drop-down > li:last-child > .title {
  border-bottom: 0px ;
}
ul.drop-down > li:last-child > .title.active {
  border-bottom: 1px solid rgb(145 145 145);
}

ul.drop-down > li > .title{ 
  padding: 10px 10px;
  border-bottom: 1px solid rgb(145 145 145);
  cursor: pointer;

  &:after{
    transition: all 0.2s;
    content: ' ';
    float: right;
    display: inline-block;
    transform: rotate(315deg);
    width: 10px;
    height: 10px;
    border-left: 2px solid #676767;
    border-bottom: 2px solid #676767;
    border-radius: 1px;
  }
  &.title.active:after{
    transform: rotate(135deg);
    width: 10px;
    height: 10px;
    margin-top: 7px;
  }
}



ul.drop-down > li > .title+.content { 
  background-color: #E1E1E1;
  height: 0px;
  padding: 0px 10px;
  overflow-y: hidden;
  transition: all 0.3s;
  border-bottom: 0px solid black;
}

ul.drop-down > li > .title.active+.content { 
  padding: 10px 10px;
  height: auto;
  border-bottom: 1px solid rgb(145 145 145);
}
ul.drop-down > li > .content { 
  padding: 10px 10px;
  border-bottom: 1px solid rgb(145 145 145);
}