.tab-container > .tab-header {
    display: flex;
    position: relative;
}

.tab-container > .tab-header > .tab.on {
    border: 1px solid beige;
}

.tab-container > .tab-header > .underline {
    position: absolute;
    height: 2px;
    top:28px;
    margin-left: 5px;
    transition: 0.4s all;
    background-image: linear-gradient(#fff0, #fff0), linear-gradient( to right, #23155700 0%, #000000 10%, #000000 90%, #fff80000 100% );
}


.tab-container > .item {
    display: none;
}
.tab-container > .item.on {
    display: block;
}

.tab-container > .item > .container {
    display: grid;
    grid-template-columns : 1fr 1fr;
}

.tab-container > .item > .container > .section {
    display: grid;
    width: calc(100% - 35px);
    height: 200px;
    border: 2px solid #7a7a7a;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr 1fr;
    position: relative;
}

.tab-container > .item > .container > .section > .book-mark {
    content: "";
    position: absolute;
    right: 20px;
    background-image: url("../assets/book-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 24px;

    &.red    {filter: drop-shadow(2px 0px 2px #84978e) hue-rotate(360deg)} 
    &.green  {filter: drop-shadow(2px 0px 2px #84978e) hue-rotate(90deg)} 
    &.blue   {filter: drop-shadow(2px 0px 2px #84978e) hue-rotate(212deg)} 
    &.purple {filter: drop-shadow(2px 0px 2px #84978e) hue-rotate(270deg)} 
}


.tab-container > .item > .container > .section > .title {
    grid-column: 1 / span 2;

}
.tab-container > .item > .container > .section > .item {
    display: flex;
    background-color: #5f5f5f;
    margin: 3px;
    position: relative;
    cursor: pointer;
    
    &:hover {

    }
}
.tab-container > .item > .container > .section > .item:hover > p {
    opacity: 100%;
}
.tab-container > .item > .container > .section > .item > p {
    opacity: 0%;
    transition: all 0.3s;
    background-color: #00000042;
    color: #FFFFFF;
    height: 20px;
    width: 70px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-35px) translateY(-25px);
}